In [1]:
import os
import pdb
import pandas as pd
import yfinance as yf
import matplotlib.pyplot as plt
import seaborn as sns
import datetime

In [2]:
cb = pd.read_csv("Individual-Positions-2024-06-20-160845.csv")
cb

   symbol  quantity  cost_basis
0     AAL   45.0000      998.99
1    AAPL    2.0383      271.55
2     ADI    2.0080      260.20
3     ALK    3.0000      110.68
4     AMD   10.0000     2119.30
..    ...       ...         ...
56     VZ   11.9866      643.18
57     WH    5.0000      358.65
58    VOO    1.0285      364.30
59   VOOG    1.0184      228.56
60   VOOV    1.0364      139.22

[61 rows x 3 columns]

In [3]:

# Define the stock symbols and the time period
stocks = cb.symbol.to_list()
start_date = '2015-01-01'
# start_date = '2016-01-01'
# start_date = '2017-01-01'
# start_date = '2017-01-01'
# start_date = '2019-01-01'
end_date = f"{datetime.date.today().year}-{datetime.date.today().month}-{datetime.date.today().day}"

In [ ]:

# Function to fetch stock data
def fetch_stock_data(stock, start, end):
    return yf.download(stock, start=start, end=end)['Close']

# Fetch data for all stocks
data = {stock: fetch_stock_data(stock, start_date, end_date) for stock in stocks}
data

In [7]:

# Convert to DataFrame
df = pd.DataFrame(data)

# Reset the index to use for plotting
df.reset_index(inplace=True)
df

,Date,AAL,AAPL,ADI,ALK,AMD,AMZN,AVB,AVGO,BA,...,UAL,UDR,VFF,VTRS,VWAGY,VZ,WH,VOO,VOOG,VOOV
0,2015-01-02,53.910000,27.332500,55.540001,60.330002,2.670000,15.426000,165.809998,100.089996,129.949997,...,66.339996,31.370001,NaN,56.349998,21.367500,46.959999,NaN,188.399994,99.959999,90.220001
1,2015-01-05,53.880001,26.562500,54.529999,59.470001,2.660000,15.109500,166.929993,98.489998,129.050003,...,66.150002,31.700001,NaN,55.720001,20.559999,46.570000,NaN,185.089996,98.500000,88.459999
2,2015-01-06,53.040001,26.565001,53.250000,58.770000,2.630000,14.764500,169.199997,96.250000,127.529999,...,64.580002,31.879999,NaN,54.180000,20.785000,47.040001,NaN,183.270004,97.629997,87.550003
3,2015-01-07,53.009998,26.937500,53.810001,59.669998,2.580000,14.921000,171.160004,98.849998,129.509995,...,65.529999,32.099998,NaN,56.110001,20.895000,46.189999,NaN,185.559998,98.900002,88.309998
4,2015-01-08,53.660000,27.972500,54.759998,60.700001,2.610000,15.023000,172.750000,103.790001,131.800003,...,66.639999,31.900000,NaN,56.650002,21.424999,47.180000,NaN,188.820007,100.769997,89.849998
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2376,2024-06-12,11.500000,213.070007,238.440002,41.509998,160.240005,186.889999,198.759995,1495.510010,182.669998,...,52.930000,39.560001,1.050,10.630000,12.890000,39.770000,72.820000,497.640015,330.480011,176.229996
2377,2024-06-13,11.440000,214.240005,234.029999,41.009998,159.899994,183.830002,199.910004,1678.989990,180.699997,...,52.070000,39.910000,1.030,10.390000,12.324000,39.779999,72.879997,498.579987,331.790009,175.809998
2378,2024-06-14,11.280000,212.490005,231.190002,40.330002,159.630005,183.660004,201.889999,1735.040039,177.270004,...,49.689999,40.279999,0.998,10.170000,12.010000,39.669998,72.250000,498.980011,332.829987,175.350006
2379,2024-06-17,11.440000,216.669998,232.389999,41.150002,158.399994,184.059998,201.600006,1828.869995,178.389999,...,50.360001,40.340000,0.974,10.110000,12.150000,39.459999,72.059998,502.940002,336.160004,176.119995
2380,2024-06-18,11.280000,214.289993,235.380005,41.509998,154.630005,182.809998,202.399994,1802.520020,174.990005,...,49.580002,40.630001,1.000,10.050000,12.130000,40.080002,72.419998,504.279999,337.000000,176.880005

In [ ]:
# Plotting all on same plot
plt.figure(figsize=(14, 8))
for stock in stocks:
    sns.lineplot(x='Date', y=stock, data=df, label=stock)

# Customize the plot
plt.title('Stock Prices Over 5 Years')
plt.xlabel('Date')
plt.ylabel('Closing Price')
plt.legend(title='Stock')
plt.grid(True)

# Show the plot
plt.show()